@font-face {
    font-family: oldconsole;
    src: url('../fonts/clacon.ttf');
}

html { cursor: text; }
body { background: #2E312C; }
p { color: #9DCE91; font-size: 30px; font-family: 'oldconsole'; margin: 0px;}
textarea, input {
    background: #2E312C;
    border: 0px;
    color: #9DCE91;
    font-family: 'oldconsole';
    font-size: 30px;
    background-image: url(../images/block.png);
    background-repeat: no-repeat;
    background-position: 100% 0%;
}
textarea:focus, input:focus{ outline: 0; }
#commandLine { display: inline; color: white; }

.file {
    display: inline;
    margin-right: 20px;
}

.folder {
    display: inline;
    margin-right: 20px;
}

#editor {
  z-index: 20;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0;
  margin: 0;
  position: absolute;
  display: none;
  background: rgba(0,0,0,0.8);
}


#editorHeader {
  top: 5px;
  width: 100%;
  background: white;
  color: black;
  text-align: center;
}

#editorText {
    width: 100%;
    height: 80%;
    top: 0;
}

#editorFooter {
    padding: 1em;
    height: 10%;
    width: 100%;
    border-top: 1.5px solid white;
    bottom: 0;
    text-align: left;
    position: absolute;
}

#footerNav {
    color: #fff;
    list-style-type: none;
}

  #savePrompt,
  #footerNav li {
    margin: 1px;
    padding: 1px;
  }

  #footerNav li {
    display: inline;
  }

  #savePrompt {
    display: none;
  }

.highlight {
  padding: 0 2px;
}

